<h1><%= t('emails.booking_cancelled.p1', code: @booking.code.upcase) %></h1>

<p><%= t('emails.hello') %> <%=@user.first_name%></p>
<p><%= t('emails.booking_cancelled.p2a') %>  <%=link_to @location.title, location_url(@location)%> <%= t('emails.booking_cancelled.p2b') %></p>
<p><%= t('emails.booking_cancelled.p3') %></p>
<p><%= t('emails.booking_cancelled.p4') %></p>

<br>
<hr>
<p><strong>Cristian Díaz Reyes</strong></p>
<p><%= t('emails.founder') %>l</p>
<p>AtLocs.com</p>
