= form_for(@location, :authenticity_token => true, :html => {:class => "form-location", :multipart => true}, :onsubmit => "return validateLocationForm();") do |f|
	.col-md-10.offset-md-1
		- if @location.errors.any?
			.alert.alert-warning
				%h2
					= pluralize(@location.errors.count, "error")
					prohibited this location from being saved:
				%ul
					- @location.errors.full_messages.each do |message|
						%li= message
			#location_alert
		.step#step1
			.tab-head
				%h2=t('location.form.form_title')
			.tab-body
				.form-group
					= f.label t('location.form.title'), :class=>""
					= f.text_field :title, :class=>"form-control", :placeholder=>t('location.form.title_placeholder')
				.form-group
					= f.label t('location.form.description'), :class=>""
					= f.text_area :description, :class=>"form-control", :placeholder=>t('location.form.description_placeholder')
		.step#step2
			.tab-head
				%h2=t('location.form.step2a')
				%p=t('location.form.step2b')
			.tab-body
				.row.form-group
					.col-md-4= f.label t('location.form.type'), :class=>""
					.col-md-8= f.select(:type_id, ['Casa', 'Departamento', 'Fundos', 'Parcelas', 'Estadios', 'Centro de eventos', 'Oficinas', 'Edificios empresariales', 'Consultas medicas', 'Azoteas', 'Bares', 'Restaurantes', 'Bibliotecas', 'Bodegas', 'Galpones', 'Cabañas', 'Cines', 'Teatros', 'Clínicas', 'Club de golf', 'Supermercados', 'Cocinas', 'Viñas', 'Moteles', 'Hoteles', 'Plazas', 'Calles', 'Lagunas', 'Bosques', 'Miradores', 'Loft', 'Centro Deportivo', 'Otro'], {}, { :class => 'form-control' })
				.row.form-group
					.col-md-4= f.label "Tags", :class=>""
					.col-md-8
						= f.autocomplete_field :tag_names, autocomplete_tag_name_locations_path, 'data-delimiter' => ', ', :class=>"form-control", :placeholder=>t('location.form.tag1')
						%small=t('location.form.tag2')
				.row
					.col-md-6
						.form-group
							= f.label t('location.form.services1'), :class=>""
							%p.small=t('location.form.services2')
							-["Fachada", "Interior", "Habitaciones", "Cocina", "Baño y Duchas", "Garage", "Logia", "Jardin", "Propiedad Completa", "Instalación escenográfica", "Ajustes de ambientación", "Otro"].each do |service|
								.checkbox
									%label
										= f.check_box :services, { :multiple => true, onclick: "extraOrServiceChanged()"}, service, nil
										#{service}
							= f.text_area :other_services_comment, :class=>"form-control other-services-comment", style: "display:none;"
					.col-md-6
						.form-group
							= f.label t('location.form.extras1'), :class=>""
							%p.small=t('location.form.extras2')
							-["Habitaciones", "Baños", "Cocina", "Estacionamientos", "Conexión a red eléctrica", "Otro"].each do |extra|
								.checkbox
									%label
										= f.check_box :extras, { :multiple => true, onclick: "extraOrServiceChanged()"}, extra, nil
										#{extra}
							= f.text_area :other_extras_comment, :class=>"form-control other-extras-comment", style: 'display:none;'
				.row.form-group
					.col-md-3= f.label t('location.form.address'), :class=>""
					.col-md-9= f.text_field :address, :class=>"form-control"
				.map_canvas
				%p.block-helper.font-italic.mt-3=t('location.form.address2')
				= f.hidden_field :lat, :class=>"form-control", "data-geo"=>"lat"
				= f.hidden_field :lng, :class=>"form-control", "data-geo"=>"lng"
				= f.hidden_field :city, :class=>"form-control", "data-geo"=>"administrative_area_level_2"
				= f.hidden_field :county, :class=>"form-control", "data-geo"=>"locality"
		.step#step3
			.tab-head
				%h2=t('location.form.step3title')
				%p=t('location.form.step3subtitle')
			.tab-body
				.form-group.upload-imgs.bg-faded
					%div#upload-form.row
						.col-md-8
							%h4=t('location.form.attachments')
							%em=t('location.form.attachments2')
						.col-md-4
							%div.file-upload-btn.text-right
								=t('location.form.select_files')
								= file_field_tag "images[]", type: :file, multiple: true, id: "fileupload"
						.col-md-12.padding-top
							%table.table#file-list
								= render @location.uploads
					%div.progress#file-progress.invisible
						.progress-bar.progress-bar-info#progress-bar{:role=>"progressbar", "aria-valuenow"=>"20", "aria-valuemin"=>"0", "aria-valuemax"=>"100", "style"=>"width: 1%"}
		.step#step4
			.tab-head
				%h2=t('location.form.step4_h2')
				%p=t('location.form.step4_p')
			.tab-body
				.row.form-group.price
					.col-md-6
						= f.label t('location.form.day_price'), :class=>""
						*
						.input-group
							.input-group-addon $
							= f.phone_field :price, :class=>"form-control", :placeholder=>"Monto"
							= f.hidden_field :fee, :class=>"form-control"
						%p.help-block=t('location.form.day_price2')
					.col-md-6
						.well
							%small=t('location.form.atlocs_commission')
							.final-price
								%strong $
								%span#result
									0
								%span*
							%em
								=t('location.form.atlocs_disclaimer')
								%br
								%a{:href => "/faq#collapseEight"}=t('location.form.more_info')
					.col-md-12
						%em=t('location.form.atlocs_disclaimer2')
	.col-md-8.offset-md-2
		%hr
		.px-5.py-3
			-if @location.is_new_record?
				= hidden_field_tag "new_record", true
				%button.btn.btn-info.btn-block.btn-lg#form-submit{ :type=>"submit", :disabled => "disabled"}
					%i.mdi.mdi-lg.mdi-cloud-upload
					=t('location.form.publish')
				.terms-and-conditions.mt-3.text-sm-center
					.form-group
						.checkbox
							%label
								%input#legal-checkbox{:type => "checkbox"}
								=t('location.form.i_agree1')
								%a{:href=> "/terminos-y-condiciones", :target=>"_blank"}
									=t('general.terms')
								=t('location.form.i_agree2')
			-else
				%button.btn.btn-info.btn-block.btn-lg#form-submit{ :type=>"submit" }
					%i.mdi.mdi-lg.mdi-content-save
					=t('location.form.update')

:css
	.ui-autocomplete {
		max-width: 200px;
		background: #CCC;
		padding: 5px;
		list-style-type: none;
	}

=javascript_include_tag "newlocation"
=javascript_tag "var AUTH_TOKEN = '#{form_authenticity_token}';" if protect_against_forgery?
