%section.main-content
  .container
    .row
      = flash_messages
      =render 'shared/adminmenu'
      .col-md-12
        %h1 #{@totalcount} locaciones aprobadas
        %ul.nav.nav-tabs
          %li.nav-item
            %a.nav-link.active{"data-toggle" => "pill", :href => "#approved"} Esperando Aprobación
          %li.nav-item
            %a.nav-link{"data-toggle" => "pill", :href => "#published"} Publicadas
          %li.nav-item
            %a.nav-link{"data-toggle" => "pill", :href => "#archived"} Archivadas
        .tab-content.mt-4
          #approved.tab-pane.active
            / %h3 Esperando aprobación
            %table.table.table-striped
              %thead
                %tr
                  %th Nombre
                  %th Dueño
                  %th Descripcion
                  %th{:colspan => "3"}
              %tbody
                - @submitted.each do |location|
                  %tr
                    %td= link_to location.title, "/locations/#{location.id}"
                    %td= link_to location.user_full_name, '/users/'+location.user.id.to_s
                    %td= location.description
                    %td= location.statusname
                    %td
                      = number_to_currency(location.totalprice, :unit => "$", :precision => 0)
                    %td= link_to 'Editar', "/locations/#{location.id}/edit", :class=>"btn btn-info"
                    - if location.status=="submitted" && (can? :approve, Location)
                      %td= link_to 'Aprobar', "/locations/#{location.id}/approve", :class=>"btn btn-success"
                    - if location.status=="archived"
                      %td= link_to 'Borrar', "/locations/#{location.id}/destroy", :method => :delete, :class=>"btn btn-danger"
                    -else
                      %td= link_to 'Archivar', "/locations/#{location.id}/show_archive_modal", :class=>"btn btn-danger", :remote => true
            %br/
            = link_to 'Nueva locacion', new_location_path, :class=>"btn btn-info"
          #published.tab-pane.fade
            / %h3 Aprobadas
            %table.table.table-striped
              %thead
                %tr
                  %th Nombre
                  %th Dueño
                  %th Descripcion
                  %th{:colspan => "3"}
              %tbody
                - @approved.each do |location|
                  %tr
                    %td= link_to location.title, "/locations/#{location.id}"
                    %td= link_to location.user_full_name, '/users/'+location.user.id.to_s
                    %td= location.description
                    %td= location.statusname
                    %td= number_to_currency(location.totalprice, :unit => "$", :precision => 0)
                    %td= link_to 'Editar', "/locations/#{location.id}/edit", :class=>"btn btn-info"
                    - if location.status!="archived"
                      %td= link_to 'Archivar', "/locations/#{location.id}/show_archive_modal", :class=>"btn btn-danger", :remote => true
          #archived.tab-pane.fade
            / %h3 Borradores
            %table.table.table-striped
              %thead
                %tr
                  %th Nombre
                  %th Dueño
                  %th Descripcion
                  %th{:colspan => "4"}
              %tbody
                - @archived.each do |location|
                  %tr
                    %td= link_to location.title, "/locations/#{location.id}"
                    %td= link_to location.user_full_name, '/users/'+location.user.id.to_s
                    %td= location.description
                    %td= location.statusname
                    %td= number_to_currency(location.totalprice, :unit => "$", :precision => 0)
                    %td= link_to 'Editar', "/locations/#{location.id}/edit", :class=>"btn btn-info"
                    - if location.status!="approved"
                      %td= link_to 'Aprobar', "/locations/#{location.id}/approve", :class=>"btn btn-success"
                    %td= link_to 'Destruir', "/locations/#{location.id}/destroy", :method => :delete, :class=>"btn btn-danger"
                    %td= link_to 'Notificar Rechazo', "/locations/#{location.id}/show_archive_modal", :class=>"btn btn-danger", :remote => true
#archiveModalHolder