- content_for :body_class, "special-layout location-single"

%section.main-content.location
	.location-header{ :style=>"background-image:url(#{@location.main_attachment_url}) !important" }
		.container
			.location-title
				%h1
					= @location.title
					%small= @location.city
			%aside.location-booking-info
				- if @location.price_with_fee > 0
					.price
						= number_to_currency(@location.price_with_fee, :unit => "$", :precision => 0, :format => "%u%n")
						%small CLP
					%small.availability
						=t('location.price_by_day')
						/ Días: #{@location.days}
				-if current_user && @location.bookings.where('user_id = :me AND status != :cancelled', me: current_user.id, cancelled: 0).any? && @location.price_with_fee > 0
					.booking.padding-top
						%a.btn.btn-primary.btn-block.btn-lg{:href => "/bookings/"+@location.bookings.where(:user_id=>current_user.id).last.code}
							%i.mdi.mdi-lg.mdi-calendar-clock
							=t('actions.see_booking')
					%a{ :href => "/bookings/new?id="+@location.id.to_s}
						=t('actions.book_again')
				-else
					.booking.pt-3
						- if (can? :update, @location)
							%a.btn.btn-primary.btn-block.btn-lg{:href => "/locations/"+@location.id.to_s+"/edit"}
								%i.mdi.mdi-lg.mdi-pencil
								=t('actions.edit', model: t('general.location'))
						- elsif @location.status=="approved"
							%a.btn.btn-primary.btn-block.btn-lg{:href => "/bookings/new?id="+@location.id.to_s}
								%i.mdi.mdi-lg.mdi-calendar-clock
								=t('actions.book', model: t('general.location'))
						.booking-contact
							=t('general.questions')
							%a.btn.btn-link.btn-sm.p-0{:href => "/contacto?subject=Consulta por Locación "+@location.id.to_s, :role => "button", :style => "z-index: 99999999;position: relative;"}
								%i.mdi.mdi-lg.mdi-email-outline
								=t('general.contact_us')
	.container
		.row.location-content
			.col-md-7
				- if flash[:notice]
					.mt-3.alert.alert-success{:role => "alert"}
						%button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
							%span{"aria-hidden" => "true"} ×
						= flash[:notice]
				- if flash[:error]
					%br
					.alert.alert-danger.reject-alert{:role => "alert"}
						= flash[:error]
						%strong
							= @location.reject_reason if @location.reject_reason
						= t('extras.you_can')
						= link_to t('actions.edit', model: t('general.location')), edit_location_path(@location.id)
						= t('extras.or')
						= link_to t('general.contact_us'),"/locations/#{@location.id}/show_contact_modal", remote: true
				- if flash[:warning]
					.mt-3.alert.alert-warning{:role => "alert"}
						%button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
							%span{"aria-hidden" => "true"} ×
						= flash[:warning]
				.content-box.description
					%h3
						= t('general.description')
					%p= @location.description
				.content-box.details
					%h3
						= t('general.details')
					.table-responsive
						%table.table.table-hover
							%tbody
								-if @location.type_id
									%tr.row.my-2
										%th.col-md-5=t('location.type')
										%td.col-md-7 #{@location.type_id}
								-if @location.services
									%tr.row.my-2
										%th.col-md-5=t('location.services')
										%td.col-md-7 #{raw(@location.services.join(", ").split(/\s*,\s*/).map{ |service| raw(link_to(service, '/locations?s='+service.html_safe)) }.join(', '))} #{(@location.has_other_services? ? ("(" + @location.other_services_comment.to_s + ")") : '')}
								-if @location.extras
									%tr.row.my-2
										%th.col-md-5=t('location.extras')
										%td.col-md-7 #{raw(@location.extras.join(", ").split(/\s*,\s*/).map{ |extra| raw(link_to(extra, '/locations?s='+extra.html_safe)) }.join(', '))} #{(@location.has_other_extras? ? ("(" + @location.other_extras_comment.to_s + ")") : '')}
								-if @location.tag_names
									%tr.row.my-2
										%th.col-md-5 Tags
										%td.col-md-7 #{raw(@location.tag_names.split(/\s*,\s*/).map{ |tag| raw(link_to(tag, '/locations?s='+tag.html_safe)) }.join(', '))}
			.col-md-5.text-right
				-if @location.lat && @location.lng
					.content-box.address
						%h3.address-title
							=t('location.latitude')
						.map#map
							:javascript
								var map;
								$(document).ready(function(){
									map = new google.maps.Map(document.getElementById('map'), {
										center: {lat: #{@location.lat}, lng: #{@location.lng}},
										zoom: 14,
										disableDefaultUI: true,
										scrollwheel: false,
										draggable: false
									});
								});
					%small Ubicación aproximada, reserva para obtener más información.
			-if @location.uploads.count>0
				.col-md-12
					.content-box.gallery
						%h3.gallery-title
							=t('general.image_gallery')
						%ul.gallery-list
							-@location.uploads.each do |upload|
								%li.gallery-slot
									%a.gallery-link{:href => upload.image.url, "data-gallery" => ""}
										=image_tag(upload.image.url(:thumb), :class=>"gallery-img")	
							-#%li
								%a{:href => "/missing.png", "data-gallery" => ""}
									=image_tag "missing.png"
			-if current_user && (current_user.status=="admin" || current_user.status=="moderator")
				.col-md-12.padding
					- if @location.status != "approved"
						= link_to t('general.approve'), "/locations/#{@location.id}/approve", :class=>"btn btn-success"
					- if @location.status != "archived"
						= link_to t('general.archive'), "/locations/#{@location.id}/show_archive_modal", :class=>"btn btn-danger", :remote => true
				.col-md-12.padding
					%ul.list-inline
						%li.list-inline-item
							= link_to locations_path do
								%i.mdi.mdi-arrow-left
								=t('actions.go_back')
						%li.list-inline-item
							= link_to edit_location_path(@location) do
								%i.mdi.mdi-pencil
								= link_to t('actions.edit', model: t('general.location'))
						-if @location.attachments.count>0
							%li.list-inline-item
								%i.mdi.mdi-home
								= check_box_tag "locations[front_page]", @location.id, !!(@location.front_page)
								=t('actions.feature_in_home')
						%li.list-inline-item
							=form_for(@location, :html => {:class=>"form-inline"}) do |f|
								.form-group
									=f.label t('general.collection')
									=f.collection_select(:collection_id, Collection.all, :id, :name, {}, {:class=> "form-control"})
								=f.submit t('actions.add_to_collection'), :class=> "btn btn-primary"
					-if @location.attachments.count>0
						:javascript
							$("#locations_front_page").bind('change', function(){
								if (this.checked){
									$.ajax({
										url: '/locations/'+this.value+'/frontpage',
										type: 'POST',
										data: {"front_page": true}
									});
								}
								else {
									$.ajax({
										url: '/locations/'+this.value+'/frontpage',
										type: 'POST',
										data: {"front_page": false}
									});
								}
							});
#archiveModalHolder
#contactModalHolder

